  server:
    port: ${PORT:8080}

  spring:
    datasource:
      url: ${DATASOURCE_URL}
      username: ${DATASOURCE_USERNAME}
      password: ${DATASOURCE_PASSWORD}
      driver-class-name: org.postgresql.Driver
      hikari:
        maximum-pool-size: 5

    jpa:
      show-sql: true
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true

    flyway:
      enabled: true
      baseline-on-migrate: false
      clean-on-validation-error: true
      locations: classpath:db/migration
      schemas: public

  logging:
    level:
      root: INFO
      org.flywaydb.core: DEBUG
      org.hibernate.SQL: DEBUG